<script type="text/javascript">
    $(function(){
        $(".navbar").removeClass("navbar-devise");
        $(".navbar").addClass("navbar-default");
    });
</script>

<div class="jumbotron">
　<%= render partial: "partial/navbar" %>
　<div class="container">
　    <div class="row">
　        <div class="col-md-8 col-md-offset-2 text-center">
　            <h1>10年後、出会った人の顔が<br class="br-sp">思い出される旅にしよう!</h1>
　            <h4><span class="top-page-title">その土地の人だけが知っている美味しいお店で、気軽な出会いを楽しみました。</span></h4>
　        </div>
　    </div>
　</div>
</div>