@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";


a {
  color: #222;
}

body {
    color: #222;
    background-color: #fbfaf5;
}

.jumbotron {
  padding-top: 0px;
  // 背景画像を暗くする
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) ), url(tb2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  // 背景画像の位置を決める
  background-position: 50% 50%;
  height: 480px;
  position: relative;
}

.jumbotron .container .row{
    margin-top: 30px;
    color: #fff;
}

.navbar-default {
    background: transparent;
    border-color: transparent;
    z-index: 10;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 13px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.jumbotron h1{
    font-size: 45px;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

//navbar-deviseのcss
.navbar-devise {
    background: #fff;
    border-color: #fff;
    z-index: 10;
}

.navbar-devise .navbar-nav > li > a {
    color: #222222;
    font-size: 13px;
}

.navbar-devise .navbar-brand {
    color: #222222;
}


// トップページのnavbarのドロップダウンがクリックされた時
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #555;
}

//facebookボタン
.btn-facebook {
    color: #fff;
    // background-color: #4c66a4;
    background:#3b5998;
// 	box-shadow:0 5px 0 #2c4373;
}

.btn-facebook:hover{
    color: #fff;
    background:#2c4373;
}

// プロフィール画像
.profile-0 {
    width: 28px !important;
    height: 28px !important;
}

.profile-1 {
  width: 50px !important;
  height: 50px !important;
}

.profile-2 {
  width: 100px !important;
  height: 100px !important;
}

.profile-full {
  width: 30% !important;
  height: 80px !important;
}

@media (min-width: 992px){
.profile-full {
        width: 100% !important;
        height: 180px !important;
    }    
}

.btn-full {
    width: 100%;
}

.vertification-checked:before{
  content: "\f00c";
  font-family: FontAwesome;
  position: relative;
  z-index: 100;
  top:2px;
  font-size: 1.55em;
  text-align: center;
  width: 1.25em;
  color: #00d1c1;
}


@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.sidebar-nav .navbar-default .navbar-nav > li > a {
    color: #222;
    font-size: 16px;
}

.sidebar-nav .navbar-default .navbar-nav > li{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff
}

.sidebar-nav .navbar-default .navbar-nav > li:first-child {
    border-top: 1px solid #ddd;
}

.sidebar-nav .navbar-toggle {
    background-color: #337ab7;
}

.required{
  border: 1px solid #ec6d71;
  background-color: #ec6d71;
  padding: 3px 8px;
  color: #fff;
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.form-group{
    margin-bottom: 30px;
}