@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "font-awesome";


a {
  color: #222;
}

body {
    color: #222;
    background-color: #fbfaf5;
}

.jumbotron {
  padding-top: 0px;
  // 背景画像を暗くする
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) ), url(tb2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  // 背景画像の位置を決める
  background-position: 50% 50%;
  height: 480px;
  position: relative;
}

.jumbotron .container .row{
    margin-top: 30px;
    color: #fff;
}

.navbar-default {
    background: transparent;
    border-color: transparent;
    z-index: 10;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 13px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.jumbotron h1{
    font-size: 45px;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

//navbar-deviseのcss
.navbar-devise {
    background: #fff;
    border-color: #fff;
    z-index: 10;
}

.navbar-devise .navbar-nav > li > a {
    color: #222222;
    font-size: 13px;
}

.navbar-devise .navbar-brand {
    color: #222222;
}


// トップページのnavbarのドロップダウンがクリックされた時
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #555;
}

//facebookボタン
.btn-facebook {
    color: #fff;
    // background-color: #4c66a4;
    background:#3b5998;
// 	box-shadow:0 5px 0 #2c4373;
}

.btn-facebook:hover{
    color: #fff;
    background:#2c4373;
}

// プロフィール画像
.profile-0 {
    width: 28px !important;
    height: 28px !important;
}

.profile-1 {
  width: 50px !important;
  height: 50px !important;
}

.profile-2 {
  width: 100px !important;
  height: 100px !important;
}

.profile-full {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px){
.profile-full {
        width: 80% !important;
        height: 180px !important;
    }    
}

.btn-full {
    width: 100%;
}

.vertification-checked:before{
      font-family: FontAwesome;
      content: "\f00c";
      position: relative;
      z-index: 100;
      top: 2px;
      font-size: 1.55em;
      text-align: center;
      width: 1.25em;
      color: #fff;
}


@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.sidebar-nav .navbar-default .navbar-nav > li > a {
    color: #222;
    font-size: 16px;
}

.sidebar-nav .navbar-default .navbar-nav > li{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff
}

.sidebar-nav .navbar-default .navbar-nav > li:first-child {
    border-top: 1px solid #ddd;
}

.sidebar-nav .navbar-toggle {
    background-color: #337ab7;
}

.required{
  border: 1px solid #ec6d71;
  background-color: #ec6d71;
  padding: 3px 8px;
  color: #fff;
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.form-group{
    margin-bottom: 30px;
}

.basicinfo-title{
    font-size: 18px;
    position: relative;
    padding-bottom: 5px;
}

.basicinfo-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
    background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
}

.profile-page h1{
    font-size: 30px;
}

//profile　page

.page-header{
    background:#ccc;
    margin:0;
}

.profile-head{
    width: 100%;
    background-color: #c5c56a;
    float: left;
    padding: 15px 5px;
}

.profile-head img{
    height: 150px; 
    width: 150px; 
    margin: 0 auto; 
    border: 5px solid #fff; 
    border-radius: 5px;
}

.profile-head h5{
    width: 100%;
    padding: 5px 5px 20px 5px;
    text-align: justify;
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.profile-head p{
    width: 100%;
    text-align: justify;
    padding: 0px 5px 5px 5px;
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    margin: 0;
}

.profile-head a{
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
}

.profile-head ul{
    list-style: none;
    padding: 0;
}
.profile-head ul li{
    display: block; 
    color:#ffffff;
    padding: 5px;
    font-weight: 400;
    font-size: 15px;
}

.profile-head ul li:hover span{
    color: rgb(0, 4, 51);
}

.profile-head ul li span{
    color:#ffffff;
    padding-right: 10px;
}

.profile-head ul li a{
    color:#ffffff;
}

.profile-head h6{
    width: 100%;
    text-align: center;
    font-weight: 100;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.nav-tabs{
    margin: 0;
    padding: 0;
    border: 0;
}

.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover{
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

.tab-pane{
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}

.tab-content>.active{
    margin-top: 0px;/*width:100% !important;*/
} 

.profile-nav-btn{
    margin-top: 15px;
    margin-bottom: 15px;
}

.glyphicon{
    padding-right: 10px;
}



.details li {
    list-style: none;
    margin-bottom:10px;
}

.profile-card,
.profile-info,
.select-list{
    background-color: #fff;
    width: 100%;
    height: auto;
    box-shadow:1px 1px 2px 1px #e0e6eb;
    -moz-box-shadow:1px 1px 2px 1px #e0e6eb;
    -webkit-box-shadow:1px 1px 2px 1px #e0e6eb;
}

.profile-info{
    margin-top: 20px;
}

.profile-details{
    margin: 20px;
}
.imagearea{
    margin: 35px 10px;
}

.name-line{
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 3px skyblue;
    position: relative;
    width: 95%;
}

.name-line:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #dccb18;
    bottom: -3px;
    width: 30%;
}

.simple-info li{
    list-style: none;
    margin: 20px;
}

.simple-info{
    
}

.table-user-information > tbody > tr > td{
    padding: 15px;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}
.col-md-3{
padding:0 0 0 15px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}
 
.profile-usermenu {
  margin-top: 30px;
  padding:0px !important;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}